{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Dashboard{% endblock%}

{% block 'head' %}

<!--   Core JS Files   -->
<script src="/static/js/core/jquery.min.js"></script>
<script src="/static/js/core/popper.min.js"></script>
<script src="/static/js/core/bootstrap.min.js"></script>
<!-- <script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script> -->
<!-- <script src="/static/js/plugins/chartjs.min.js"></script> -->
<!-- <script src="/static/js/plugins/bootstrap-notify.js"></script> -->
<!-- <script src="/static/js/black-dashboard.min.js?v=1.0.0"></script> -->
<!-- <script src="/static/js/demo.js"></script> -->


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link rel="shortcut icon" href="#">
<!-- Nucleo Icons -->
<link href="/static/css/nucleo-icons.css" rel="stylesheet" />
<!-- CSS Files -->
<link href="/static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />

<!-- <link href="/static/scss/black-dashboard.scss?v=1.0.0" rel="stylesheet" /> -->


{% endblock%}


{% block 'body' %}
<nav class="navbar navbar-expand-lg container-fluid navbar-transparent ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <h2 class="card-title">SMC</h2>
        </div>
    </div>
    <button id="print" type="button" class="btn btn-dark">Report</button>
</nav>
<div class="row-10" id="content">
    <div class="col">
        <div class="row">
            <div class="col-7">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5 class="card-category">All Containers</h5>
                                <h3 class="card-title"><i class="tim-icons icon-components"></i>CPU</h3>
                            </div>
                            <div class="card-header">
                                <div class="ui selection dropdown" id="div-all-container">
                                    <select class="btn btn-link dropdown-toggle" id="dropdown-all-container">
                                        <option class="dropdown-item" value="cpu_per">CPU</option>
                                        <option class="dropdown-item" value="mem_per">MEM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartAllContainer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card card-chart">
                    <div class="card-header text-left">
                        <h5 class="card-category">Server</h5>
                        <h3 class="card-title"><i class="tim-icons icon-components text-red"></i>CPU</h3>
                    </div>
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartCpuServer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Server</h5>
                        <h3 class="card-title"><i class="tim-icons icon-mobile text-success"></i>MEM</h3>
                    </div>
                    <div class="card-header ">
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartMemServer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Per container</h5>
                        <h3 class="card-title"><i class="tim-icons icon-components text-red"></i> CPU</h3>
                    </div>
                    <div class="card-header">
                        <div class="dropdown" id="div-cpu-per-container">
                            <!-- <button type="selection button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                            <i class="tim-icons icon-settings-gear-63"></i>
                        </button> -->
                            <select class="btn btn-link dropdown-toggle " id="dropdown-cpu-per-container"></select>
                            <!-- <div class="dropdown-menu dropdown-menu-right" id="dropdown-cpu-per-container"></div> -->

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartCpuPerContainer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Per container</h5>
                        <h3 class="card-title"><i class="tim-icons icon-mobile text-success"></i> MEM</h3>
                    </div>
                    <div class="card-header ">
                        <div class="ui selection dropdown" id="div-mem-per-container">
                            <select class="btn btn-link dropdown-toggle" id="dropdown-mem-per-container"></select>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartMemPerContainer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Per container</h5>
                        <h3 class="card-title"><i class="tim-icons icon-world text-yelow"></i>NET</h3>
                    </div>
                    <div class="card-header ">
                        <div class="ui selection dropdown" id="div-net-per-container">
                            <select class="btn btn-link dropdown-toggle " id="dropdown-net-per-container"></select>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartNetPerContainer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Per container</h5>
                        <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-orange"></i>USED MEM</h3>
                    </div>
                    <div class="card-header ">
                        <div class="ui selection dropdown" id="div-used-mem-per-container">
                            <select class="btn btn-link dropdown-toggle " id="dropdown-used-mem-per-container"></select>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartUsedMemServer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Server</h5>
                        <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-info"></i>DISK</h3>
                    </div>
                    <div class="card-header ">
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartDiskPerContainer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/func.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>


{% endblock %}